@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:10px; background-color:ghostwhite">
    <h1>e-Dziennik</h1>
    <p class="lead">Internetowy dziennik</p>
    <p><a href="~/Teachers/Index" class="btn btn-default">Zobacz więcej &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nauczyciel</h2>
        <p>
            Sekcja dla nauczycieli
        </p>
        <p><a class="btn btn-default" href="~/Teachers/Index">Zobacz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rodzic</h2>
        <p>Sekcja dla rodziców</p>
        <p><a class="btn btn-default" href="~/Parents/Index">Zobacz &raquo;</a></p>
    </div>
</div>